#cover {
  z-index: 1;
  position: absolute;
  background-color: #2B324D;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1.5s;
  transform-origin: 0;
}

.open-card {
  transform: skewY(90deg);
}

#cover-title {
  color: #F22E3E;
  font-family: Courier;
  font-size: 2em;
  text-align: center;
}

.details {
  color: #AAC8FF;
}

#deco {
  width: 350px;
  height: auto;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: #F3E8DA;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  text-align: center;
}

#inside-pic {
  width: auto;
  height: 480px;
}
