<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/informal2.css">
  </head>
  <body>
    <div id="cover">

      <p id="cover-title">
        Happy Birthday!
      </p>

      <img id="deco" src="images/space.png" alt="">

      <p class="details">
        To:
      </p>

      <p class="details">
        From:
      </p>

      <p>
        <button onclick="open_card()">Click to open</button>
      </p>

    </div>

    <div id="inside">

      <p id="inside-title">
        Happy Birthday!
      </p>

      <img id="inside-pic" src="images/birthday-cake.png">

      <p id="message">
        Your message here!
      </p>

      <p>
        <button onclick="close_card()">Click to close</button>
      </p>

    </div>

    <script src="js/informal2.js"></script>
  </body>
</html>
