<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/informal1.css">
  </head>
  <body>
    <div id="cover">

      <p id="cover-title">
        Happy Birthday!
      </p>

      <img id="cover-pic" src="images/placeholder.jpg">

      <p>
        <button onclick="open_card()">Click to open</button>
      </p>

    </div>

    <div id="inside">

      <p id="inside-title">
        Happy Birthday!
      </p>

      <img id="inside-pic" src="images/placeholder.jpg">

      <p id="message">
        Your message here!
      </p>

      <p>
        <button onclick="close_card()">Click to close</button>
      </p>

    </div>

    <script src="js/informal1.js"></script>
  </body>
</html>
