<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/informal2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>

    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class = "fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="#">Templates</a></li>
        <li class="nav1"><a href="createown.html">Create Your Own</a></li>
        <li class="nav1"><a href="favourites.html">Favourites</a></li>
        <li class="nav1"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login/Sign Up</button></li>
      </ul>
    </nav>

    <div id="cover">
      <p id="cover-title">
        Happy Birthday!
      </p>

      <img id="inside-pic" src="images/cake_celebration.png">

      <div class="details1">
        <label>To: </label><span id="kepada2"></span><br>
        <input id="recepient2" type="text">
      </div>

      <div class="details2">
        <label>From: </label><span id="daripada2"></span><br>
        <input id="sender2" type="text" style="margin-left: 1.5%">
      </div>

      <div class="open">
        <button onclick="open_card()">Click to open</button>
      </div>
    </div>

    <div id="inside">
      <p id="inside-title">
        Happy Birthday!
      </p>

      <div class="drop-zone">
        <span class="drop-zone-prompt">Upload an image of something they like here!</span>
        <input type="file" name="myFile" class="drop-zone-input">
      </div>
      <br>

      <div id="message">
        <textarea class="storage" type="text" placeholder="Because birthday wishes doesn't have to be boring"></textarea>
        <p class="message"></p>
      </div>
      <button class="button" onclick="rememberMe()" type="button">Save</button>

      <p>
        <button onclick="close_card()">Click to close</button>
      </p>
    </div>

    <div class="footer">
      <footer>
        <ul>
          <li>
            <a href="#" class="footer1">Help</a>
            <a href="#" class="footer1">FAQ</a>
            <a href="#" class="footer1">Contact: +673 1234567</a>
            <a href="#" class="footer1">Email: abc@email.com</a>
          </li>
        </ul>
      </footer>
    </div>

    <script src="js/informal2.js"></script>
  </body>
</html>
