<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/informal1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>

    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class = "fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="#">Templates</a></li>
        <li class="nav1"><a href="createown.html">Create Your Own</a></li>
        <li class="nav1"><a href="#">Favourites</a></li>
        <li class="nav1"><a href="#">Login/Sign Up</a></li>
      </ul>
    </nav>

    <div id="cover">
      <img id="deco" src="images/divider.png" alt="">

      <p id="cover-title">
        Happy Birthday!
      </p>

      <p>
        To:
      </p>

      <div class="drop-zone">
        <span class="drop-zone-prompt">Drop image here or click here to upload</span>
        <!-- <div class="drop-zone-thumbnail" data-label="myfile.txt"></div> -->
        <input type="file" name="myFile" class="drop-zone-input">
      </div>

      <p>
        From:

      </p>

      <p>
        <button onclick="open_card()">Click to open</button>
      </p>
    </div>

    <div id="inside">
      <p id="inside-title">
        Happy Birthday!
      </p>

      <img id="inside-pic" src="images/cake.gif">

      <div id="message">
        <input class="storage" type="text" placeholder="Your message here!">
        <p class="message"></p>
        <button class="button" type="button">Save</button>
      </div>

      <p>
        <button onclick="close_card()">Click to close</button>
      </p>
    </div>

    <div class="footer">
      <footer>
        <ul>
          <li>
            <a href="#" class="footer1">Help</a>
            <a href="#" class="footer1">FAQ</a>
            <a href="#" class="footer1">Contact: +673 1234567</a>
            <a href="#" class="footer1">Email: abc@email.com</a>
          </li>
        </ul>
      </footer>
    </div>

    <script src="js/informal1.js"></script>
  </body>
</html>
